# Python Data Structures

## Tuple
- immutuable

In [1]:
tup=4,5,6

In [2]:
tup

(4, 5, 6)

In [3]:
tup=tuple(tup)

In [4]:
tup

(4, 5, 6)

In [5]:
tup=tuple('string')

In [6]:
tup

('s', 't', 'r', 'i', 'n', 'g')

### Nested Tuple

In [7]:
nest_tup=(4,5,6,),(1,2)

In [8]:
nest_tup

((4, 5, 6), (1, 2))

In [9]:
nest_tup[1]

(1, 2)

In [10]:
nest_tup[0]

(4, 5, 6)

- we cannot modify a tuple

In [15]:
tup_1=tuple([1,2,3])

In [17]:
tup_1[1]='2'

TypeError: 'tuple' object does not support item assignment

- here we can see the error occured as we try to modify tuple at index 1

In [18]:
tup_2=tuple((4, None, 'foo') + (6, 0) + ('bar',))

In [19]:
tup_2

(4, None, 'foo', 6, 0, 'bar')

In [20]:
# swapping
tup=4,5,(6,7)

In [21]:
a,b,(c,d)=tup

In [22]:
d

7

In [24]:
tup_2.append(0)

AttributeError: 'tuple' object has no attribute 'append'

In [25]:
tup_2.count(2)

0

# List 
- semanticaly same as tuple but can be modified

In [26]:
tup = ("foo", "bar", "baz") 
b_list = list(tup)
b_list

['foo', 'bar', 'baz']

In [27]:
b_list[1] = "peekaboo"

In [28]:
b_list

['foo', 'peekaboo', 'baz']

In [29]:
#hence we can see that lists are mutuable

In [30]:
gen = range(10)

In [31]:
gen=list(gen)

In [32]:
gen

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [35]:
#.append(),it will add in the list at last index
b_list.append("dwarf")
print(b_list)
# .insert (), we can spcifiy index as well
b_list.insert(1, "red")
print(b_list)
#.pop(index)
b_list.pop(3)
print(b_list)
#.remove("list element")
b_list.remove("dwarf")
print(b_list)

['red', 'red', 'peekaboo', 'dwarf', 'dwarf']
['red', 'red', 'red', 'peekaboo', 'dwarf', 'dwarf']
['red', 'red', 'red', 'dwarf', 'dwarf']
['red', 'red', 'red', 'dwarf']

In [36]:
"red" in b_list

True

In [37]:
"red" not in b_list

False

In [38]:
x = [4, None, "foo"]
x.extend([7, 8, (2, 3)])

In [39]:
print(x)

[4, None, 'foo', 7, 8, (2, 3)]

In [41]:
# concat
[4, None, "Memoona"] + [7, 8, (2, 3)]

[4, None, 'Memoona', 7, 8, (2, 3)]

In [42]:
a=[10,2,3,9,4]
a.sort()

In [43]:
a

[2, 3, 4, 9, 10]

In [45]:
# now for strings 
b = ["byte", "memeoona", "He", "fixer", "she"]

In [48]:
#here we sorted w.r.t length of strings 
b.sort(key=len)

In [49]:
b

['He', 'she', 'byte', 'fixer', 'memeoona']

In [50]:
x=[7, 2, 3, 7, 5, 6, 0, 1]

In [51]:
# index 1 to 5 sliced out
x[1:5]

[2, 3, 7, 5]

In [52]:
x[0]

7

In [53]:
x[:5]

[7, 2, 3, 7, 5]

In [54]:
x[3:]

[7, 5, 6, 0, 1]

In [55]:
# it sliced out from index starting from 3

In [56]:
#skipping we usually do in pandas case as well
x[::2]

[7, 3, 5, 0]

In [58]:
# reverse
x[::-1] # 0 index

[1, 0, 6, 5, 7, 3, 2, 7]

In [59]:
b=[1,2,3,3]

In [60]:
b[::-1]

[3, 3, 2, 1]

# Dictionary

In [67]:
# dict{key:value}
d={
    "name":"Memoona",
    "Age" :"20"
    
}

In [69]:
d

{'name': 'Memoona', 'Age': '20'}

In [71]:
# access,insert,set
d["name"]

'Memoona'

In [72]:
d["Age"]=21

In [73]:
d

{'name': 'Memoona', 'Age': 21}

In [75]:
del d["name"]

In [76]:
d

{'Age': 21}

In [77]:
d.update({"First_name": "Memoona"})

In [78]:
d

{'Age': 21, 'First_name': 'Memoona'}

In [79]:
d.pop("First_name")

'Memoona'

In [80]:
d

{'Age': 21}

In [81]:
list(d.keys())

['Age']

In [82]:
list(d.items())

[('Age', 21)]

# Set
- unordered ,unique elements( no duplication)

In [84]:
set([2, 2, 2, 1, 3, 3])

{1, 2, 3}

In [85]:
a={1,2,3}
b={4,5,6}

In [86]:
u=a.union(b)

In [87]:
u

{1, 2, 3, 4, 5, 6}

In [89]:
int =a.intersection(b)

In [90]:
int

set()

In [91]:
{10,11,12}.issubset(a)

False

In [93]:
{4,5,6}=={6,5,4}

True

In [94]:
c=a.copy()

In [95]:
c

{1, 2, 3}

In [97]:
c |= b

In [98]:
c

{1, 2, 3, 4, 5, 6}

In [101]:
d

{'Age': 21}